boto3==1.3.0
botocore==1.4.10
elasticsearch==1.9.0
elasticsearch-dsl==2.0.0
Flask==0.10.1
Flask-SocketIO==2.2
itsdangerous==0.24
Jinja2==2.8
oauthlib==1.0.3
python-dateutil==2.5.0
python-engineio==0.9.0
python-socketio==1.2
requests==2.9.1
requests-aws4auth==0.9
requests-oauthlib==0.6.1
SQLAlchemy==1.0.10
tweepy==3.5.0
urllib3==1.26.5
Werkzeug==0.11.2